:root {
    --icon-stroke-color: black; /* default color */
  }
.dark-mode{
--icon-stroke-color: white; /* color in dark mode */

}
body.dark-mode {
    background-color: #333;
    color: white;
    /* Add other dark mode styles here */
}
/* Dark Mode */
body.dark-mode .flashcard .front {
    background-color: #333; /* Dark mode front color */
}

body.dark-mode .flashcard .back {
    background-color: teal; /* Dark mode back color */
    color: #fff; /* Text color for the back in dark mode */
}

body {
    font-family: 'PingFang', sans-serif;
    height: 100vh;
    margin: 0;
    padding: 30px;
}
#index-content {
    text-align: center;
}

button {
    margin-top: 1.5em;
    margin-bottom: 2em;
    color: white;
    background-color: teal;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    border:none;
}

button:hover {
    background-color: #0056b3;
}

.button-row {
    display: flex;
    justify-content: space-between;
}
.button-index-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.home-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2px;
}

.bottom-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

table {
margin-top: 2em;
width: 100%;
}
 table, th, td {
      border: 0.5px solid #98A09E;
      border-collapse: collapse;
    }

.flashcard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust to 3 columns */
    grid-gap: 20px; /* Adjust spacing if needed */
    margin-top: 20px; /* Keep or adjust spacing between rows */
}

.flashcard {
    width: auto; /* Adjust width as needed, could be smaller */
    height: 200px; /* Keep or adjust height as needed */
    /* Other styles... */
}
    

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.front,
.back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.front {
    background-color: #f0f0f0;
    transform: rotateY(0deg);
}

.back {
    background-color: #009688;
    color: #fff;
    transform: rotateY(180deg);
}

.flashcard:hover .card-inner {
    transform: rotateY(180deg);
}

/* Light Mode */
.flashcard .front {
    background-color: #f0f0f0; /* Light mode front color */
}

.flashcard .back {
    background-color: #009688; /* Light mode back color */
    color: #fff; /* Text color for the back in light mode */
}

/* CSS for the pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
  }
  
  .close {
    float: right;
    cursor: pointer;
    font-size: 24px;
  }
  
.big-button {
    font-size: 24px; 
    padding: 10px 20px; 
}

.refresh {
    text-align: center;
    margin-top: 20px; 
}

.bottom-suggest {
    position: fixed; 
    bottom: 0;
    justify-content: center;
    align-items: flex-end;
}

.small-button {
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 50%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.icon {
    stroke: black; /* Default color */
  }
  
  .dark-mode .icon {
    stroke: white; /* Color for dark mode */
  }
  